* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    background-image: url('/images/texture.jpg');
    background-repeat: repeat;
}

h1 {
    font-size: 42px;
    font-weight: 100;
    text-align: center;
}

p {
    margin: 0;
}

.header {
    padding: 30px;
}

.header img {
    display: block;
    margin: auto;
    height: 100px;
}

.maxim, .challenge {
    font-size: 20px;
    text-align: center;
    padding: 40px;
    color: #292526;
}

.prompt {
    text-align: center;
    padding: 10px;
}

.prompt-button {
    border: none;
    background-color: transparent;
    font-size: 14px;
}

.prompt-button:hover {
    cursor: pointer;
}

.arrow {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 30px;
}

.challenge {
    margin: 0px 200px;
    line-height: 30px;
}

.experience-recording {
    margin: 40px 0px;
}

.login {
    text-align: center;
}

textarea {
    height: 250px;
    width: 600px;
}

fieldset {
    border: 0;
    margin: 0px;
    padding: 0px;
}

.user-input, .pass-input {
    width: 180px;
    height: 40px;
    padding: 10px;
    margin: 0px;
}

.login-button {
    width: 180px;
    height: 40px;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    border: none;
    margin: 20px;
}

.menu {
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    height: 60px;
    width: 100%;
    color: #fff;
    background-color: #1e1e1e;
}

.share {
    float: left;
    padding-left: 20px;
    display: inline-block;
}

.share img {
    height: 29px;
    width: 27px;
}

.hamburger {
    float: right;
    padding-right: 20px;
    display: inline-block;
}

.hamburger img {
    height: 30px;
    width: 45px;
}

.menu-link {
    text-decoration: none;
    color: #fff;
}

/* Utility classes */
.visually-hidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

